@page
@model HairSalon.Web.Pages.EmployeeSchedules.CreateModel

@{
    ViewData["Title"] = "Create Schedule";
}

<h1>Create Schedule</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Schedule.WorkingDate" class="control-label"></label>
        <input asp-for="Schedule.WorkingDate" type="date" class="form-control" />
        <span asp-validation-for="Schedule.WorkingDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Schedule.WorkingStartTime" class="control-label"></label>
        <input asp-for="Schedule.WorkingStartTime" type="time" class="form-control" />
        <span asp-validation-for="Schedule.WorkingStartTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Schedule.WorkingEndTime" class="control-label"></label>
        <input asp-for="Schedule.WorkingEndTime" type="time" class="form-control" />
        <span asp-validation-for="Schedule.WorkingEndTime" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create Schedule</button>
</form>

<p>@Model.Message</p>
