@page "/Payments/PaymentSuccess"
@model HairSalon.Web.Pages.Payments.PaymentSuccessModel
@{
    ViewData["Title"] = "Thanh toán thành công";
    Layout = "_Layout";
}

<h2>Payment Success</h2>

<div class="alert alert-success">
    Payment successfully! Your appointment is ready.
</div>

<div>
    <a asp-page="./Details" asp-route-id="@Model.AppointmentId">Details</a>
    <a asp-page="/Index" class="btn btn-primary">Back to List</a>
</div>
