@page "/Payments/PaymentFailed"
@model HairSalon.Web.Pages.Payments.PaymentFailedModel
@{
    ViewData["Title"] = "Thanh toán thất bại";
    Layout = "_Layout";
}

<h2>Payment failed</h2>

<div class="alert alert-danger">
    Payment for your appointment is failed. 
</div>

<div>
    <a asp-page="/Payments/PaymentConfirmation"></a>
    <a asp-page="/Index" class="btn btn-secondary">back to list</a>
</div>